.footer {
    background-color: aquamarine;
    height: 260px;
    padding: 35px 0;
    padding-bottom: 0px;
    font-family: 'Inter';
    font-style: normal;
    line-height: 15px;
}

.footer-container {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.footer-nav-title {
    margin-bottom: 35px;
}

.footer-list {
    flex-direction: column;
    justify-content: center;
}

.footer-list-title,
.footer-list-item:not(:last-child) {
    margin-bottom: 20px;
}

.footer-list-item {
    padding-left: 7px;
}

.nav .footer-list-item:hover {
    cursor: pointer;
}

.footer-info {
    text-align: center;
    font-weight: lighter;
}