.section_title {
    text-align: center;
    margin-bottom: 100px;
    padding: 25px;
    color: black;
    text-indent: 20;
    background: linear-gradient(to right, rgb(0, 255, 106), rgb(0, 217, 255), rgb(72, 249, 178), rgb(0, 234, 255), cyan, rgb(19, 255, 184));
    background-size: 400% 400%;
    -webkit-animation: rainbow 20s ease infinite;
    animation: rainbow 20s ease infinite;
}

.manual_item {
    opacity: 0;
    margin-bottom: 70px;
    align-self: flex-start;
}

.manual_item:nth-child(2n) {
    align-self: flex-end;
}

.ability_item {
    opacity: 0;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


