.auth_section {
    font-family: 'Inter';
    margin-bottom: 200px;
    height: 100vh;
}

.auth_title,
.auth_text {
    color: black;
    text-align: center;
}

.auth_title {
    font-weight: 700;
    line-height: 24px;
    font-size: 35px;
    padding-top: 200px;
    margin-bottom: 30px;
    animation: appearance 1s linear;
    animation-fill-mode: forwards;
}

.auth_text {
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 70px;
    opacity: 0;
    animation: appearance 1.5s linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes appearance {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.35;
    }

    100% {
        opacity: 1;
    }
}