.auth_section {
    font-family: 'Inter';
    margin-bottom: 200px;
    height: 100vh;
}

.auth_title,
.auth_text {
    color: black;
    text-align: center;
}

.auth_title {
    font-weight: 700;
    line-height: 24px;
    font-size: 35px;
    padding-top: 200px;
    margin-bottom: 30px;
}

.auth_text {
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 70px;
}

.auth_link {
    color: black;
    display: block;
    padding: 10px 0 0 20px;
    text-decoration: none;
    font: inherit;
    font-size: 20px;
}