.auth_wrapper {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.auth_label {
    color: #0047FF;
    font-size: 20px;
    margin-right: 30px;
}

.auth_input {
    border: none;
    border-bottom: 2px solid black;
    width: 300px;
    padding: 0 10px;
    outline: none;
    font-size: 20px;
    text-align: center;
}

.fade_delay {
    opacity: 0;
    animation-delay: 2s !important;
    animation-duration: 2s !important;
}

.fade {
    animation: fade-in 1.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}