.fade {
    animation: fade_frames 1.2s ease-in-out;
    animation-fill-mode: forwards;
}

.fade_delay {
    opacity: 0;
    animation-delay: 2s !important;
    animation-duration: 2s !important;
}

@keyframes fade_frames {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.appearance {
    opacity: 0;
    animation: appearance_frames 1s linear;
    animation-fill-mode: forwards;
}

.appearance_delay {
    animation-duration: 1.5s !important;
    animation-delay: 1s !important;
}

.visible {
    opacity: 1;
}

@keyframes appearance_frames {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.35;
    }

    100% {
        opacity: 1;
    }
}